.article {
    width: 100%;
    .clearfix;
    &-info,
    &-summary,
    &-body,
    &-tools,
    &-tags,
    &-author,
    &-comment {
        &:extend(.clearfix all);
        margin-bottom: @line-height-computed/2;
        border-bottom: 1px solid @gray-lighter;
        padding-bottom: 10px;
    }
    &-info {
        border-bottom: 1px solid @gray-lighter;
        margin: (@line-height-computed/2) 0;
        ul {
            margin: 0 auto;
        }
        span[class^="psi-"] {
            color: @brand-primary;
        }
    }
    &-summary {
        font-style: italic;
        color: darken(@text-color, 15%);
        border-bottom: none;
    }
    &-tools {
        .btn > span {
            margin-right: @padding-base-vertical;
        }
    }

}

.discussion {
    &-header {
        h3 {
            border-bottom: 1px solid @gray-lighter;
            padding-bottom: @line-height-computed/2;
            margin-bottom: @line-height-computed/2;
        }
    }
    &-body {
        .comment-form,
        .comments {
            &:extend(.clearfix all);
            margin-bottom: @line-height-computed;
        }
    }
    &-form{
        margin-bottom: @line-height-computed;
    }
}

.comments {
    .comment {
        &:extend(.clearfix);
        margin-bottom: @line-height-computed;
        &-avatar {
            float: left;
            > a > img {
                max-width: 48px;
                margin: @padding-base-vertical @padding-base-vertical 0 0;
            }
        }
        &-detail {
            border: 1px solid @gray-lighter;
            margin-left: 60px;
            margin-bottom: @line-height-computed;
            -webkit-border-radius: @border-radius-base;
            -moz-border-radius: @border-radius-base;
            border-radius: @border-radius-base;
            &-header {
                padding: @padding-base-horizontal/2;
                border-bottom: 1px solid @gray-lighter;
                overflow: hidden;
            }
            &-tools {
                position: absolute;
                margin-top: -(@line-height-computed/2);
                margin-left: @padding-base-horizontal;
                a {
                    margin-right: @padding-base-vertical;
                    [class^="icon-"] {
                        vertical-align: baseline;
                    }
                }
            }
            &-header,
            &-body {
                padding: @padding-base-horizontal/2;
            }
        }
    }
}

.author {
    & &-avatar {
        float: left;
        > img {
            max-width: 96px;
        }
    }
    & &-box {
        border: 1px solid @gray-lighter;
        -webkit-border-radius: @border-radius-base;
        -moz-border-radius: @border-radius-base;
        border-radius: @border-radius-base;
        margin-left: 116px;
        position: relative;
    }
    & &-header {
        border-bottom: 1px solid @gray-lighter;
        background-color: @gray-lighter;
        display: inline-block;
        width: 100%;
        > h3 {
            margin: 0 auto;
            padding: 0;
            a {
                text-decoration: none;
            }
        }
    }
    & &-header,
    & &-body,
    & &-footer {
        padding: @padding-base-vertical @padding-base-horizontal;
    }
}